.scroll {
  background: linear-gradient(90deg, rgba(95, 239, 176, 1) 0%, rgba(238, 238, 8, 1) 100%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: top center;
  overflow-y: auto;
  height: 500px;
  margin-top: 20px;
  padding-top: 20px;
}
